.lightbox.open {
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  transition: background 300ms ease-in-out;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox.open img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  max-width: 95%;
  height: auto;
  max-height: 90%;
}

d-article {
  contain: unset !important;
}
