.quarto-title-block
.quarto-title-banner {
    border-bottom: solid 0.5px;
    color: #F5F5F5;
}

/* ################################################## */
/* Added for paper, code stolen from merenlab.org :)  */
/* ################################################## */

.altmetric-embed {
  float: right;
  margin-top: -3px;
  margin-left: 5px;
}

.__dimensions_badge_embed__ {
  float: right;
  margin-right: 6px;
  margin-top: -3px;
}

.pub_float {
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 4px 4px 14px 1px #ccc;
  width: 98%;
  border: 1px solid #bcbcbc;
  border-radius: 14px;
  padding: 5px;
  background-image: linear-gradient(#f4f4f4, #efefef);
  h3 {
      margin-bottom: 6px;
      margin-top: 5px;
      margin-left: 9px;
  }
  p {
      font-size: 90%;
      font-style: italic;
  }
  a, a:hover {
      font-size: 80%;
      border-bottom: 0 solid transparent;
  }
}

.pub {
  margin-bottom: 30px;
  p {
      font-size: 90%;
      font-style: italic;
  }
  a, a:hover {
      font-size: 80%;
      border-bottom: 0 solid transparent;
  }
}

.pub-title {
  font-size: 1.3em;
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  line-height: 30px;
  display: block;
  padding: 5px;
  padding-left: 8px;
  padding-bottom: 9px;
  border-left: 10px solid #d4d4d4;
}

.pub_float .pub-title {
  border-left: none;
}

.pub-authors {
  display: block;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 4px;
  font-variant: small-caps;
  color: rgb(102, 102, 102);
}

.pub_float .pub-authors {
  padding-left: 8px;
}

.pub-co-first-authors {
  display: block;
  width: 95%;
  padding-left: 25px;
  margin-bottom: 5px;
  margin-top: -10px;
  color: #717171;
  font-size: smaller;
  font-style: italic;
}

.pub_float .pub-co-first-authors {
  padding-left: 12px;
}

.pub-member-author {
  color: black;
  font-weight: bolder;
}

.pub-journal {
  background-image: linear-gradient(to right, #fafafa, #d4d4d4);
  display: block;
  text-align: right;
  border: 1px #f4f4f4 solid;
  border-radius: 10px;
  margin-left: 20px;
  padding: 4px;
  padding-right: 14px;
  font-size: small;
}

.pub_float .pub-journal {
  margin-left: 8px;
  background-image: none;
  border: none;
}

.pub-info {
  background-image: linear-gradient(to left, #fefff0, white);
  border: 1px #f4f4f4 solid;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:20px;
  border-radius: 10px;
  padding: 4px;
  font-size: small;
  min-height: 100px;
  line-height: 2em;
}

.pub_float .pub-info {
  margin-left: 8px;
  margin-right: 8px;
  background: white;
  border: 1px #bcbcbc solid;
}

.pub-info-no-image {
  background-image: linear-gradient(to left, #fefff0, white);
  border: 1px #f4f4f4 solid;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:20px;
  border-radius: 10px;
  padding: 4px;
  padding-right: 14px;
  font-size: small;
}

.pub_float .pub-info-no-image {
  margin-left: 8px;
}

.pub-featured-image {
width: 100px;
padding: 1px;
float: left;
}

.pub-highlights {
  padding-left: 115px;
}

.pub-highlights a, .pub-highlights-no-image a, .pub-highlights a:hover, .pub-highlights-no-image a:hover {
      font-size: 100%;
      text-decoration: underline;
  }

.pub-highlights-no-image {
  padding-left: 5px;
}

.story_float {
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 4px 4px 14px 1px #ccc;
  width: 98%;
  border: 1px solid #bcbcbc;
  border-radius: 14px;
  padding: 5px;
  background-image: linear-gradient(#f4f4f4, #efefef);
  h3 {
      margin-bottom: 6px;
      margin-top: 5px;
      margin-left: 9px;
  }
  p {
      font-size: 90%;
      font-style: italic;
  }
  a, a:hover {
      font-size: 80%;
      border-bottom: 0 solid transparent;
  }
}

.story {
  margin-bottom: 30px;
  p {
      font-size: 90%;
      font-style: italic;
  }
  a, a:hover {
      font-size: 80%;
      border-bottom: 0 solid transparent;
  }
}

.story-title {
  font-size: 1.5em;
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  line-height: 30px;
  display: block;
  padding: 5px;
  padding-left: 8px;
  padding-bottom: 9px;
  border-left: 10px solid #d4d4d4;
  text-align: center;
}

.story_float .story-title {
  border-left: none;
}

.story-authors {
  display: block;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 4px;
  font-variant: small-caps;
  color: rgb(102, 102, 102);
}

.story_float .story-authors {
  padding-left: 8px;
}

.story-co-first-authors {
  display: block;
  width: 95%;
  padding-left: 25px;
  margin-bottom: 5px;
  margin-top: -10px;
  color: #717171;
  font-size: smaller;
  font-style: italic;
}

.story_float .story-co-first-authors {
  padding-left: 12px;
}

.story-member-author {
  color: black;
  font-weight: bolder;
}

.story-journal {
  background-image: linear-gradient(to right, #fafafa, #d4d4d4);
  display: block;
  text-align: right;
  border: 1px #f4f4f4 solid;
  border-radius: 10px;
  margin-left: 20px;
  padding: 4px;
  padding-right: 14px;
  font-size: small;
}

.story_float .story-journal {
  margin-left: 8px;
  background-image: none;
  border: none;
}

.story-info {
  background-image: linear-gradient(to left, #fefff0, white);
  border: 1px #f4f4f4 solid;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 4px;
  font-size: small;
  min-height: 300px;
  line-height: 2em;
}

.story_float .story-info {
  margin-left: 8px;
  margin-right: 8px;
  background: white;
  border: 1px #bcbcbc solid;
}

.story-info-no-image {
  background-image: linear-gradient(to left, #fefff0, white);
  border: 1px #f4f4f4 solid;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:20px;
  border-radius: 10px;
  padding: 4px;
  padding-right: 14px;
  font-size: small;
}

.story_float .story-info-no-image {
  margin-left: 8px;
}

.story-featured-image {
width: 100px;
padding: 1px;
float: left;
}

.story-highlights {
  padding-left: 315px;
}

.story-highlights a, .story-highlights-no-image a, .story-highlights a:hover, .story-highlights-no-image a:hover {
      font-size: 100%;
      text-decoration: underline;
      float: right;
  }

.story-highlights-no-image {
  padding-left: 5px;
}


div.alert-synopsis > div:first-child::before {
font-family: 'Font Awesome 5 Free';
font-weight: 0;
color: #ff3860;
content: '';
}

div.alert-synopsis > div {
margin-left: 1rem;
}

.alert-synopsis {
color: #141414;
font-family: 'Work Sans';
font-size: 1.1em;
background-color: #efefef59;
border-color: #7c7c7cFF;
border-radius: 7px;
/*border-left-width: 30px;*/
margin-bottom: 2rem;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
padding-left: 2rem;
padding-right: 2rem;
border-width: 1px;
border-color: #141414;
border-style: solid;
}
