/* Whole document: */
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|Lato:300|Inconsolata|Source+Sans+Pro|Work+Sans:200,300,400,500|Karla:200,300,400,400i,700,700i');
/********************************/
/* controls general properties of site*/
/********************************/

body {
  color: #414141;
/*  line-height: 1.7;
  font-size: 17px; */
  background-color: #FEFEFE;
}
.quarto-title-banner
.quarto-title
.title {
    font-weight: 300;
}

.quarto-title-block
.quarto-title-banner {
    border-bottom: solid 0.5px;
    color: #F5F5F5;
}

#title-block-header.quarto-title-block.default .description, #title-block-header.quarto-title-block.default .abstract {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.2rem;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
  margin-bottom: 0.5em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
    font-size: .8em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents p.affiliation:last-of-type {
    margin-bottom: 0.3em;
    font-size: inherit;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents a {
    color: #373a3c;
    text-decoration: underline;
    text-decoration-style: dotted;
}

h1.title {
  font-size: 2.1em;
  font-family: 'Source Sans Pro', 'Work Sans';
  font-weight: 300;
}

h1 {
  font-size: calc(1.3rem + 0.6vw);
  font-family: 'Source Sans Pro', 'Work Sans', 'PT Sans';
  font-weight: 300;
}

h2 {
  /* font-size: 1.65em; */
  font-family: 'Source Sans Pro', 'Work Sans', 'PT Sans';
  /* font-weight: 500; */
}

h3 {
  /* margin-top: 1em; */
  font-family: 'Source Sans Pro', 'Work Sans', 'PT Sans';
}

img.orcid-id {
  margin: 0;
}

blockquote p {
	font-size: 1.1em;
	font-family: 'Work Sans';
  font-style: normal;
  color: #323232;
  margin: 0.5em 0 0.5em;
}

d-article blockquote {
  border-left: 4px solid;
  border-left-color: #323232;
}

d-article li {
  margin: 0px 0px 4px;
  font-size: 18px;
  font-family: 'Open Sans', 'Source Sans Pro', 'PT Sans';
}

/********************************/
/* controls LINKS*/
/********************************/

a {
  color: #414141;
}

/********************************/
/* controls CODE*/
/********************************/

/** pre.sourceCode controls code block without lang **/

/** Controls r code  **/

pre.sourceCode.r {
   margin-top: 0px;
   color: #333333;
   background-color: #E8E8E8;
   border-radius: 3px;
   font-size: 0.90em;
   font-family: 'Monaco', 'PT Mono', monospace;
   overflow-x: scroll !important;
   border-left: 6px solid #2271B2;
   border-top: 1px solid #B7B7B7;
   border-right: 1px solid #B7B7B7;
   border-bottom: 1px solid #B7B7B7;
   padding: 18px 0px 18px 20px;
 }

code.sourceCode.r {
   border: none;
   padding: 0px 0px 0px 0px;
 }

code.sourceCode.R {
   border: none;
   padding: 0px 0px 0px 0px;
 }

pre.sourceCode.bash {
   margin-top: 0px;
   color: #333333;
   background-color: #E8E8E8;
   border-radius: 3px;
   font-size: 0.80em;
   font-family: 'Monaco', 'PT Mono', monospace;
   overflow-x: scroll !important;
   border-left: 6px solid #4A4DB5;
   border-top: 1px solid #B7B7B7;
   border-right: 1px solid #B7B7B7;
   border-bottom: 1px solid #B7B7B7;
   padding: 18px 0px 18px 20px;
}

code.sourceCode.bash {
   border: none;
   padding: 0px 0px 0px 0px;
 }

/** Controls code output **/

pre code {
   margin-top: 0px;
    color: #333333;
    font-size: 0.9em;
    border: 1px solid #ccc;
    overflow-x: scroll !important;
    padding:  10px 10px 10px 18px;
    border-radius: 5px;
  }

/** Controls inline code  **/

p code {
  background-color: #E8E8E8;
  border-radius: 3px;
  font-size: 0.8em;
  font-family: 'Monaco', 'PT Mono', monospace;
  overflow-x: scroll !important;
  margin-bottom: 20px;
  color: #BF2727;
}

li code {
  background-color: #E8E8E8;
  border-radius: 3px;
  font-size: 0.8em;
  font-family: 'Monaco', 'PT Mono', monospace;
  overflow-x: scroll !important;
  margin-bottom: 20px;
  color: #BF2727;
}

d-article aside code {
  background-color: #E8E8E8;
  border-radius: 3px;
  font-family: 'Monaco', 'PT Mono', monospace;
  color: #BF2727;
}

/********************************/
/* controls NAV BAR and HEADERS*/
/********************************/

.navbar-dark {
    background-color: #113858;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F5F5F5;
    font-family: 'Karla', 'Work Sans', 'Source Sans Pro', 'PT Sans';
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #C4C4C4;
}
.navbar-brand > img {
  max-height: 21px;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    width: 26px;
    height: 26px;
    color: #F5F5F5;
    opacity: 1;
}

.navbar .dropdown-header {
    text-transform: uppercase;
    font-size: .8rem;
    padding: 0.5rem 0.5rem 0;
}

/* .navbar ul.dropdown-menu {
  padding-top: 0.7em;
}
*/

.nav-dropdown-content .nav-dropdown-header {
  text-transform: none;
  color: #686868;
}


.nav-dropdown-content a {
  font-family: 'Karla', 'Work Sans', 'Source Sans Pro', 'PT Sans'
}
.nav-dropdown .nav-dropbtn {
/*  color: #FEFEFE; */
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #FFFFFF;
}

img {
  margin: 5px;
}

/** LIGHTBOX MARKUP **/
.thumbnail {
  max-width: 100%;
  position: relative;
}

/** DETAILS fold down**/

details {
  background-color: #f6f6f6;
  cursor: pointer;
  color: #2d2d2d;
  margin-bottom:1vh;
  padding: 1em;
  border: none;
  text-align: left;
  outline: none;
}

.active, details:hover {
  transition: max-height 0.2s ease-out;
  outline: none;

  /* background-color: #acc2c2; */
}

details {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 4px;
  outline: none;
}

details.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
  outline: none;
}

summary:focus {
  outline: none;
}

summary::after {
  float: right;
  font-family: "Font Awesome 5 Free";
  content: "\f0fe";
}

details[open] summary::after {
  float: right;
  font-family: "Font Awesome 5 Free";
  content: "\f146";
}

/********************************/
/* controls downloadthis  */
/********************************/

button.btn.btn-default {
  font-size: 0.8em;
  font-family: "PT Sans";
  border-color: #B22271;
  border-width: medium;
  margin-bottom: 15px;
  background: #EFEFEF;
  color: #414141;
}

/********************************/
/* controls reactable  */
/********************************/

div.rt-text-content {
  font-size: 1.2em;
}

/********************************/
/* controls horizontal rule, ie ***  */
/********************************/

d-article hr {
  margin: 30px 0px;
}






/********************************/
/* controls appendix ***  */
/********************************/

#quarto-appendix.default {
    color: #00000080;
    opacity: 1.0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 0.8em;
    word-wrap: break-word;
}

.quarto-appendix-heading {
    color: #000000A6;
    opacity: 1.0;
    font-size: 0.9em !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

#quarto-appendix.default {
    opacity: 1.0;
    margin-top: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.quarto-appendix-contents>*:not(h2):not(.h2) {
    font-size: .9em;
}

#quarto-appendix.default section *[role=doc-endnotes], #quarto-appendix.default section>*:not(a) {
    opacity: 1.0;
}

/********************************/
/* next and previous buttons at the end of the article */
/********************************/

.btnnav {
  border: none;
  background-color: #113858;
  color: #f2f2f2;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.button_round {border-radius: 12px;}

a.button_round {
  text-decoration: none;
}

.Reactable {
    margin-bottom: 2em;
}

/* ################################################## */
/* Added for paper, code stolen from merenlab.org :)  */
/* ################################################## */

.altmetric-embed {
  float: right;
  margin-top: -3px;
  margin-left: 5px;
}

.__dimensions_badge_embed__ {
  float: right;
  margin-right: 6px;
  margin-top: -3px;
}

.pub_float {
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 4px 4px 14px 1px #ccc;
  width: 98%;
  border: 1px solid #bcbcbc;
  border-radius: 14px;
  padding: 5px;
  background-image: linear-gradient(#f4f4f4, #efefef);
  h3 {
      margin-bottom: 6px;
      margin-top: 5px;
      margin-left: 9px;
  }
  p {
      font-size: 90%;
      font-style: italic;
  }
  a, a:hover {
      font-size: 80%;
      border-bottom: 0 solid transparent;
  }
}

.pub {
  margin-bottom: 30px;
  p {
      font-size: 90%;
      font-style: italic;
  }
  a, a:hover {
      font-size: 80%;
      border-bottom: 0 solid transparent;
  }
}

.pub-title {
  font-size: 1.3em;
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  line-height: 30px;
  display: block;
  padding: 5px;
  padding-left: 8px;
  padding-bottom: 9px;
  border-left: 10px solid #d4d4d4;
}

.pub_float .pub-title {
  border-left: none;
}

.pub-authors {
  display: block;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 4px;
  font-variant: small-caps;
  color: rgb(102, 102, 102);
}

.pub_float .pub-authors {
  padding-left: 8px;
}

.pub-co-first-authors {
  display: block;
  width: 95%;
  padding-left: 25px;
  margin-bottom: 5px;
  margin-top: -10px;
  color: #717171;
  font-size: smaller;
  font-style: italic;
}

.pub_float .pub-co-first-authors {
  padding-left: 12px;
}

.pub-member-author {
  color: black;
  font-weight: bolder;
}

.pub-journal {
  background-image: linear-gradient(to right, #fafafa, #d4d4d4);
  display: block;
  text-align: right;
  border: 1px #f4f4f4 solid;
  border-radius: 10px;
  margin-left: 20px;
  padding: 4px;
  padding-right: 14px;
  font-size: small;
}

.pub_float .pub-journal {
  margin-left: 8px;
  background-image: none;
  border: none;
}

.pub-info {
  background-image: linear-gradient(to left, #fefff0, white);
  border: 1px #f4f4f4 solid;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:20px;
  border-radius: 10px;
  padding: 4px;
  font-size: small;
  min-height: 100px;
  line-height: 2em;
}

.pub_float .pub-info {
  margin-left: 8px;
  margin-right: 8px;
  background: white;
  border: 1px #bcbcbc solid;
}

.pub-info-no-image {
  background-image: linear-gradient(to left, #fefff0, white);
  border: 1px #f4f4f4 solid;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:20px;
  border-radius: 10px;
  padding: 4px;
  padding-right: 14px;
  font-size: small;
}

.pub_float .pub-info-no-image {
  margin-left: 8px;
}

.pub-featured-image {
width: 100px;
padding: 1px;
float: left;
}

.pub-highlights {
  padding-left: 115px;
}

.pub-highlights a, .pub-highlights-no-image a, .pub-highlights a:hover, .pub-highlights-no-image a:hover {
      font-size: 100%;
      text-decoration: underline;
  }

.pub-highlights-no-image {
  padding-left: 5px;
}

.story_float {
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 4px 4px 14px 1px #ccc;
  width: 98%;
  border: 1px solid #bcbcbc;
  border-radius: 14px;
  padding: 5px;
  background-image: linear-gradient(#f4f4f4, #efefef);
  h3 {
      margin-bottom: 6px;
      margin-top: 5px;
      margin-left: 9px;
  }
  p {
      font-size: 90%;
      font-style: italic;
  }
  a, a:hover {
      font-size: 80%;
      border-bottom: 0 solid transparent;
  }
}

.story {
  margin-bottom: 30px;
  p {
      font-size: 90%;
      font-style: italic;
  }
  a, a:hover {
      font-size: 80%;
      border-bottom: 0 solid transparent;
  }
}

.story-title {
  font-size: 1.5em;
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  line-height: 30px;
  display: block;
  padding: 5px;
  padding-left: 8px;
  padding-bottom: 9px;
  border-left: 10px solid #d4d4d4;
  text-align: center;
}

.story_float .story-title {
  border-left: none;
}

.story-authors {
  display: block;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 4px;
  font-variant: small-caps;
  color: rgb(102, 102, 102);
}

.story_float .story-authors {
  padding-left: 8px;
}

.story-co-first-authors {
  display: block;
  width: 95%;
  padding-left: 25px;
  margin-bottom: 5px;
  margin-top: -10px;
  color: #717171;
  font-size: smaller;
  font-style: italic;
}

.story_float .story-co-first-authors {
  padding-left: 12px;
}

.story-member-author {
  color: black;
  font-weight: bolder;
}

.story-journal {
  background-image: linear-gradient(to right, #fafafa, #d4d4d4);
  display: block;
  text-align: right;
  border: 1px #f4f4f4 solid;
  border-radius: 10px;
  margin-left: 20px;
  padding: 4px;
  padding-right: 14px;
  font-size: small;
}

.story_float .story-journal {
  margin-left: 8px;
  background-image: none;
  border: none;
}

.story-info {
  background-image: linear-gradient(to left, #fefff0, white);
  border: 1px #f4f4f4 solid;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 4px;
  font-size: small;
  min-height: 300px;
  line-height: 2em;
}

.story_float .story-info {
  margin-left: 8px;
  margin-right: 8px;
  background: white;
  border: 1px #bcbcbc solid;
}

.story-info-no-image {
  background-image: linear-gradient(to left, #fefff0, white);
  border: 1px #f4f4f4 solid;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:20px;
  border-radius: 10px;
  padding: 4px;
  padding-right: 14px;
  font-size: small;
}

.story_float .story-info-no-image {
  margin-left: 8px;
}

.story-featured-image {
width: 100px;
padding: 1px;
float: left;
}

.story-highlights {
  padding-left: 315px;
}

.story-highlights a, .story-highlights-no-image a, .story-highlights a:hover, .story-highlights-no-image a:hover {
      font-size: 100%;
      text-decoration: underline;
      float: right;
  }

.story-highlights-no-image {
  padding-left: 5px;
}


div.alert-synopsis > div:first-child::before {
font-family: 'Font Awesome 5 Free';
font-weight: 0;
color: #ff3860;
content: '';
}

div.alert-synopsis > div {
margin-left: 1rem;
}

.alert-synopsis {
color: #141414;
font-family: 'Work Sans';
font-size: 1.1em;
background-color: #efefef59;
border-color: #7c7c7cFF;
border-radius: 7px;
/*border-left-width: 30px;*/
margin-bottom: 2rem;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
padding-left: 2rem;
padding-right: 2rem;
border-width: 1px;
border-color: #141414;
border-style: solid;
}
