/* modified from https://jhelvy.github.io/distillery/posts/2021-12-18-quality-of-life-modifications-for-your-distill-websites/ */
html {
  scroll-behavior: auto;
}
d-article {
    contain: none;
}

/* the value in left: will allow you to change the left edge gap */
/* try using the value I have provided and check if the text goes beyond */
/* the edge of the screen when you hover over using the mouse pointer */
/* otherwise modify the values till you get a desirable result */

#TOC {
  position: fixed;
  z-index: 50;
  background: none; /* makes the toc background layer transparent */
  left: 1.5em; /* changes the left edge gap */
  top: 6em; /* changes the top edge gap */
}

.d-contents nav a:hover {
    color: black;
    transform: scale(1.7); /* change scale to control hover zoom, now it is in 1:7 ratio */
    padding-left:20%; /* change percentage value to control left gap during hover */
    background-color: white; /* background colour on hover, kept as white as it is my bg colour */
    display: block; /* keep it as block to station the text on hover */
}

/* Hide the ToC when resized to mobile or tablet:  480px, 768px, 900px */
@media screen and (max-width: 900px) {
#TOC {
    position: relative;
  }
}
